.App-header{
    background: #004E98;
    position: fixed;
    right: 0;
    left: 0;
    top:0;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.nav-menu{
    position: relative;
    height: 100%;
    align-items: center;
    display: flex;

}
.nav-menu .nav-item{
    background: #3A6EA5;
    height: 50px;
    box-sizing: border-box;
    padding: 15px 10px;
  position: relative;
    color:white;
    text-transform: uppercase;
    margin: 0 2px;
}
.subItem-wrapper{
    top:50px;
    right: 0;
    left: 0;
    display: none;
    position:absolute;
    background: #3A6EA5;
    color:white;
    padding: 0 10px;
    text-transform: uppercase;
} 
.sub-subitem-wrapper{
    top:50px;
    right: 0;
    left: 100%;
    display: none;
    position:absolute;
    background: #3A6EA5;
    color:white;
    padding: 0 10px;
    text-transform: uppercase;
}
.nav-item:hover .subItem-wrapper {
    display: block;

}
.subItem-wrapper:hover .third-lvl {
    display: flex;
    flex-direction: column
}
.subitem.item{
font-size: 12px;
cursor: pointer;
margin: 10px auto;
display: block;
position: relative;
}

.third-lvl{
    right: -10px;
    left: -10px;
    display: none;
    position: absolute;
    top: 21px;
    background:#4E95E0;
    padding: 10px;
    box-sizing: border-box;
}
.third-lvl span{
    margin: 5px;
    font: 12px;
}
.third-lvl:hover{
    display: flex;
    flex-direction: colum
}
.icon-shop {
    margin: 0 20px;
    display: flex;
    width: 40px;
    height: 40px;
    background-image: url('../img/shopping-bags-of-different-sizes-and-colors.svg')
}
.tooltip-car{
    position: absolute;
    right: 0;
    background: gray;
    top:50px;
    display: none;
}
.tooltip-car.is-visible{
    display: block
}
.storage-wrappers{
    padding: 10px 20px;
    box-sizing: border-box;

}
.wrapper-item-storage{
    margin: 5px 0;
    background: #EBEBEB;
    padding: 10px 20px;
}
.btn{
    padding: 5px 10px;
    box-sizing: border-box;
    background: #004E98;
    color:white;
    font-size:  14px;
    cursor: pointer;
}
.btn.delete{
    background: #3A6EA5;;
    color:white;
    
}