.main-container{
    display: flex;
}
aside{
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 0 10px;
    box-sizing: border-box;
}
aside span{
    margin: 5px 0;
}
.order-wrapper {
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
    display: inline-flex;
    align-content: center;
    justify-content: flex-end;
}
.wrapper-products{
    width: 80%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 10px;
} 
@media (max-width: 760px){
    .wrapper-products{
        width: 100%;
        grid-template-columns: 1fr ;
    }
    aside{
        width: 100%;
        margin:  20px auto;
    }
    .order-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding:10px;
        margin:  20px auto;
    }
    .main-container{
        margin:  20px auto;
        display: flex;
        flex-direction: column;
        padding:10px;
        box-sizing: border-box;
    }

}